*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}
body{
    line-height: 1.6;
    background-color: rgb(235, 235, 235);
    color: rgb(32, 32, 32);
    font-family: Arial, Helvetica, sans-serif;
 
}
.main-header{
    position: sticky;
    top: 0;
    background: linear-gradient(rgba(131, 92, 59, 1), rgba(59, 47, 47, 1));
    color: white;
    padding: 1.5rem 2rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 100;
}
.main-header h1{
    margin-bottom: 1rem;
    font-size: 2rem;
}
.main-header nav{
    display: flex;
    gap: 2rem;
}
.main-header nav a{
   
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.2s ease-in-out
    
}
.main-header nav a:hover{
    /* background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0); */
    font-size: 1.5rem;
}
/* welcome */
.Welcome-section{
   background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(35, 3, 3, 0.5)), url(../ASSET/A\ close\ up\ of\ a\ pile\ of\ coffee\ beans.jpg);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   color: white;
   text-align:center;
   padding: 5rem 2rem;

}

.Welcome-section H1{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.Welcome-section p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    padding: 2rem 5rem;
    text-align: center;
    line-height: 2rem;
}

/* Arabica */
.arabica-section{
    padding: 3rem 2rem;
    max-height: 1400px;
    margin: 0 auto;
}


.section-Title{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}


.arabica-box{
    background-color: rgb(248, 245, 245);
    margin-bottom: 2rem;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    /* display: flex; */
}

.arabica-box img{
    width: 250px;
    height: 300px;
    object-fit: cover;
    float: left;
    margin-right: 2rem ;
}
.Arabica-Content{
    padding: 1rem 3rem;
}
.Arabica-Content h3{
    color: #000000;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}
.Arabica-Content p{
    margin-bottom: 1rem;
    font-style: italic;
}
.Arabica-Content h3{
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    color: #000000;
}
.detail-list{
    list-style: none;
    
}
.been::before{
    content: "☕️";
}

.ol-list{
    padding: 0.3rem 0rem ;
}
/* Robusta */
.Robusta-section{
    padding: 3rem 2rem;
    max-height: 1400px;
    margin: 0 auto;
}


.Robusta-box{
    background-color: white;
    margin-bottom: 2rem;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    /* display: flex; */
}
.Robusta-box img{
    width: 250px;
    height: 300px;
    object-fit: cover;
    float: left;
    margin-right: 2rem ;
}
.Robusta-Content{
    padding: 1rem 3rem;
}
.Robusta-Content h3{
    color: #000000;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}
.Robusta-Content p{
    margin-bottom: 1rem;
    font-style: italic;
}
.Robusta-Content h3{
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    color: #000000;
}
.detail-list1{
    list-style: none;
    
}

.ol-list{
    padding: 0.3rem 0rem ;
}

/* Liberica */
.Liberica-section{
    padding: 3rem 2rem;
    max-height: 1400px;
    margin: 0 auto;
}


.Liberica-box{
    background-color: white;
    margin-bottom: 2rem;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    /* display: flex; */
}
.Liberica-box img{
    width: 250px;
    height: 300px;
    object-fit: cover;
    float: left;
    margin-right: 2rem ;
}
.Liberica-content{
    padding: 1rem 3rem;
}
.Liberica-content h3{
    color: #000000;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}
.Liberica-content p{
    margin-bottom: 1rem;
    font-style: italic;
}
.Liberica-content h3{
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    color: #000000;
}
.detail-list2{
    list-style: none;
    
}

.ol-list{
    padding: 0.3rem 0rem ;
}

/* Excelsa */
.Excelsa-section{
    padding: 3rem 2rem;
    max-height: 1400px;
    margin: 0 auto;
}


.Excelsa-box{
    background-color: white;
    margin-bottom: 2rem;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    /* display: flex; */
}
.Excelsa-box img{
    width: 250px;
    height: 300px;
    object-fit: cover;
    float: left;
    margin-right: 2rem ;
}
.Excelsa-content{
    padding: 1rem 3rem;
}
.Excelsa-content h3{
    color: #000000;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}
.Excelsa-content p{
    margin-bottom: 1rem;
    font-style: italic;
}
.Excelsa-content h3{
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    color: #000000;
}
.detail-list3{
    list-style: none;
    
}

.ol-list{
    padding: 0.3rem 0rem ;
}
/* Sale */
.sale-section{
    padding: 3rem 2rem;
    background-color: white;
}
.section-title{
    margin-bottom: 2rem;
    text-align: center;
    position: relative;
}

.table{
    width: 100%;
    /* max-width: 800px; */
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.table th{
    padding: 1rem;
    background: linear-gradient(rgba(131, 92, 59, 1), rgba(59, 47, 47, 1));
    color: white;

}
.table td{
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* feedback */
.feedback-section{
    padding: 3rem 2rem;
    /* background-color: rgb(82, 82, 82); */
}
.feedback-title{
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
    font-size: 2rem;
}
.form-content{
    max-height: 600px;
    margin: o auto;
    background-color: white;
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    line-height: 2rem;

}
/* footer */
.main-footer{
    padding: 3rem 2rem;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}
.social-media{
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
.main-footer .social-media a{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
  
    

} 
